
/* APP.CSS - IMPORT GLOBALI */


/* Import stili globali */
@import './styles/global.css';
@import './styles/navbar.css';
@import './styles/footer.css';

/* I CSS specifici delle pagine sono importati nei singoli componenti */